{% extends "base.html" %}
{% load static %}
{% block content %}
</br></br></br></br></br>
<div class="p-5 text-center bg-image" id="home">
  <div class="mask">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3"> Flower House </h1>
        <h4 class="mb-3"> Home delivery flowers in London </h4>
        <p class="text-center text-white">Shop our collection of beautiful seasonal flowers perfect for any ocassion!</p>
        <a class="btn btn-secondary" href="{% url 'products' %}" role="button"> Shop Now </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}