{% extends "base.html" %}
{% load static %}
{% block content %}
</br></br></br></br></br>
<div
    class="p-5 text-center bg-image"
    style="
      background-image: url('https://img.freepik.com/free-photo/bouquet-white-roses_144627-416.jpg?w=1060&t=st=1690895629~exp=1690896229~hmac=ad8eab69d3c5636a6b27c5abc2cde93b5199bf2180b1ab32dc7df167d2093a28');
      height: 100%;
      background-size: cover;
    "
  >
    <div class="mask" style="background-color: rgba(21, 17, 17, 0.6); height: 153%; margin:-17%;">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3"> Flower House </h1>
        <h4 class="mb-3"> Home delivery flowers in London </h4>
        <p class="text-center text-white">Shop our collection of beautiful seasonal flowers perfect for any ocassion!</p>
        <a class="btn btn-secondary" href="{% url 'products' %}" role="button"> Shop Now </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}