{% extends "base.html" %}
{% load static %}


{% block content %}
</br></br></br></br></br>
<div
    class="p-5 text-center bg-image"
    style="
      background-image: url('https://img.freepik.com/free-photo/beautiful-fresh-flowers-flora-shop-work-space-business_53876-23097.jpg?w=1380&t=st=1690086350~exp=1690086950~hmac=1503d01b86b897da343474c81365395cdeaf24b4a0f462dd6393a35e55b6f659');
      height: 100%;
      background-size: cover;
    "
  >
    <div class="mask" style="background-color: rgba(21, 17, 17, 0.6); height: 100%;">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3"> Flower House </h1>
        <h4 class="mb-3"> Home delivery flowers in London </h4>
        <p class="text-center text-white">Shop our collection of beautiful seasonal flowers perfect for any ocassion!</p>
        <a class="btn btn-secondary" href="#" role="button"> Shop Now </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}