body {
    background: url(https://img.freepik.com/free-photo/flat-lay-frame-with-white-flowers-background_23-2148427792.jpg?w=1060&t=st=1689668585~exp=1689669185~hmac=ad4437531db3964033664a35a3a1535180c0768859c2834d178de734d73be4a3) center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #1c1313;
    font-family: 'Tillana', cursive;
}

h1 {
    font-family: 'Caveat', cursive;
    color: #AB8297;
}
p {
    font-family: 'Tillana', cursive;
    color: #233415;
}
h2 {
    font-family: 'Caveat', cursive;
    color:rgba(84, 42, 42, 0.326);
}
#topnav {
    background-color: #8E5252;
}
#footer {
   background-image: url('https://img.freepik.com/free-photo/pretty-wedding-flowers-close-up-view-background_24972-65.jpg?w=1060&t=st=1690058906~exp=1690059506~hmac=227e218706187877845285568259dfd7707c7388187ca649078eca07469f1941');
   background-size: cover;
   height: 120%;
}
a {
    color: #3d053d;
}
a:hover {
    color: #CB8689;
}
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}