body {
    background: url(https://img.freepik.com/free-photo/flat-lay-frame-with-white-flowers-background_23-2148427792.jpg?w=1060&t=st=1689668585~exp=1689669185~hmac=ad4437531db3964033664a35a3a1535180c0768859c2834d178de734d73be4a3) center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #1c1313;
    font-family: 'Tillana', cursive;
}

h1 {
    font-family: 'Caveat', cursive;
    color: #AB8297;
}
p {
    font-family: 'Tillana', cursive;
    color: #233415;
}
h2 {
    font-family: 'Caveat', cursive;
    color:rgba(84, 42, 42, 0.326);
}
#topnav {
    background-color: #8E5252;
}
#footer {
   background-image: url('https://img.freepik.com/free-photo/pretty-wedding-flowers-close-up-view-background_24972-65.jpg?w=1060&t=st=1690058906~exp=1690059506~hmac=227e218706187877845285568259dfd7707c7388187ca649078eca07469f1941');
   background-size: cover;
   height: 120%;
}
a {
    color: #3d053d;
}
a:hover {
    color: #CB8689;
}
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}
.btn-white {
    background-color: transparent;
}
.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}
.bg-black {
    background: #000 !important;
}
.bg-white {
    background-color: #fff;
}
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}