{% extends "base.html" %}
{% load static %}
{% include 'includes/navigation_bar.html' %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
   
   
{% endblock %}

{% block content %}


<br><br><br><br>
<section class="w-100 h-100 bg-white">
  <div class="container py-5 h-100">
    <div class="row">
      <div class="col">
        <hr>
        <h1 class="text-center text-uppercase">Your Favorite Products</h1>
        <hr>
      </div>
    </div>
    <div class="container d-flex flex-wrap">
{% if favorite_products %}

  {% for product in favorite_products %}
    <div class="col-md-3">
      <div class="row">
        
        <a href="{% url 'product_detail' product.pk %}">
          <img class="img-fluid card" src="{{ product.image.url }}" alt="{{ product.name }}" style="width: 200px; height: 150px; border-radius: 1em;">
          <p>{{ product.name }}</p>
          <p class="text-danger">{{ product.price }}</p>
          <a href="{% url 'remove_from_favorites' product.id %}">
            <i class="fa-solid fa-x"></i>
        </a>
        </a>
       
      </div>
    </div>
  {% endfor %}

{% else %}
<div class="row">
  
    <p class="text-center">You have no favorite products yet.</p>
  
</div>
{% endif %}

</div>
 <!-- Pagination links -->
 <div class="row">
  <div class="col">
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        {% if favorite_products.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1" aria-label="First">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ favorite_products.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&lt;</span>
            </a>
          </li>
        {% endif %}
        {% for page in favorite_products.paginator.page_range %}
        <li class="page-item {% if page == favorite_products.number %}active{% endif %}">
          <a class="page-link" href="?page={{ page }}">{{ page }}</a>
        </li>
      {% endfor %}

      {% if favorite_products.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ favorite_products.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&gt;</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ favorite_products.paginator.num_pages }}" aria-label="Last">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
</div>
</div>
</div>
</section>
{% endblock %}


